/*!CK:196547445!*//*1382466316,173199715*/

._1g0r{opacity:.3}
._1g0r:hover{opacity:1}
._5g24{border:1px solid;border-color:#d9d9d9;max-width:398px;overflow:hidden;width:100%}
._5g24._5kbs{width:377px}
._5g26{line-height:13px;margin:8px 8px 1px 10px}
._5g26 a{font-size:11px;font-weight:bold}
._5gta{color:gray;font-size:11px;line-height:15px;margin:0 8px 6px 10px}
._5gta a{color:gray;font-size:11px}
._5lig{background:none;-webkit-border-radius:2px}
._5g27{margin:35px 16px 10px 0}
.listAttachment{outline:none}
.listAttachmentList{line-height:16px}
.listAttachment .listCreatorLink a{color:#6b84b4}
.sp_4jrrm3{background-image:url(/rsrc.php/v2/yB/r/XxVwZcirdZt.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_faa305{background-position:0 0}
.sx_e4914b{background-position:0 -17px}
.sx_b6eb08{background-position:0 -34px}
.sp_5ezm7d{background-image:url(/rsrc.php/v2/y3/r/gvOZgR8Q2eY.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_8d9589{background-position:0 0}
.sx_bc06dd{background-position:0 -17px}

#bootloader_xVFwo { height: 42px; }
.bootloader_xVFwo { display:block !important; }