/*!CK:830952832!*//*1382481894,173198623*/

._5084{border:1px solid #bbb;height:127px;left:0;margin-bottom:-35px;position:relative;top:1px;width:398px}
._507_{background-color:#fff;border:3px solid #fff;-webkit-border-radius:2px;display:block;height:99px;width:99px}
._5080{background:rgba(0, 0, 0, .3);-webkit-border-radius:3px;bottom:13px;left:13px;margin:13px 7px -3px -3px;padding:1px;position:absolute}
._5083{overflow:hidden}
._508c{background:url(/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;height:85px}
._508d{background-color:#f5f7f7;height:85px}
._508c, ._508d{bottom:42px;position:absolute;width:398px}
._518v, ._518w{bottom:13px;max-height:30px;overflow-y:hidden;position:absolute}
._518v a{color:#fff}
._518w a{color:#000}
._5088, ._5089{left:128px;line-height:1.2;max-width:250px;position:relative;z-index:1}
._5088{bottom:21px;color:#fff}
._5089{bottom:-65px;color:gray}
._508a, ._508b{margin-left:3px;position:relative;width:150px}
._508a{bottom:-7px;left:130px;margin-bottom:22px}
._508b{bottom:6px;left:123px;z-index:1}
._5081{bottom:10px;float:right;position:absolute;right:10px}
html .groupsJoin ._59x2, html div._59x1{-webkit-box-shadow:0 0 0 0;outline:none}

#bootloader_93ADK { height: 42px; }
.bootloader_93ADK { display:block !important; }